@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    position: relative;
    max-width: 100vw;
    width: auto;
    min-height: 100vh;
    background-color: #eae5d9;
    overflow-x: hidden;
}


@keyframes animation {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 240px 240px;
    }

    100%{
        background-position: 0px 0px;
    }
}

@-webkit-keyframes animation {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 240px 240px;
    }

    100%{
        background-position: 0px 0px;
    }
}

.slider-control-bottomcenter ul{
    gap: 10px;
}

.slider-control-bottomcenter svg{
    width: 7px!important;
    height: 7px!important;
}



/*
@media screen and (max-width: 800px){
    body{
        background-color: #fdf9f9!important;
        background-image: none!important;
        animation: none!important;
    }
}*/
